---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout pageTitle='About - Tiny Dev Projects'>
  <div>
    <h1 class='pt-4 text-4xl font-bold'>About - Tiny Dev Projects</h1>
  </div>
</BaseLayout>
