---
import { getCollection } from 'astro:content'
import BaseLayout from '../../layouts/BaseLayout.astro'

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const projectEntries = await getCollection('projects')
  return projectEntries.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }))
}

// 2. When it's time to render, you can get the entry directly from the prop
const { project } = Astro.props
const { Content } = await project.render()
---

<BaseLayout pageTitle={project.data.title}>
  <h1>{project.data.title}</h1>
  <article class='prose'>
    <Content />
  </article>
</BaseLayout>
