---
import BaseLayout from '../../layouts/BaseLayout.astro'
import BlogList from '../../components/BlogList.astro'
---

<BaseLayout pageTitle='Tiny Dev Projects'>
  <div class='bg-white py-12 px-6 sm:py-12 lg:px-8'>
    <div class='mx-auto max-w-2xl text-center'>
      <h1 class='text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl'>Tiny Dev Projects</h1>
      <p class='mt-6 text-lg leading-8 text-gray-600'>A history of the projects I've created.</p>
    </div>
  </div>

  <BlogList />
</BaseLayout>
